<html>
<head>
	<title>{% block title %}Bikmo Dev Interview{% endblock %}</title>
</head>
<body>
	<div id = "side bar">
		{% block sidebar %}
			<ul>
				<li><a>Home</a></li>
				<li><a>News</a></li>
				<li><a>Pictures</a></li>
			</ul>
		{% endblock %}
	</div>
	<div id="content">
		{% block body %}{% endblock %}
	</div>
</body>
<footer>
	{% block footer %}<p>copyright</p>{% endblock %}
</footer>
</html>